@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
  background: linear-gradient(to right, #f2c94c, #f2994a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orange-gradient {
  background: linear-gradient(to right, #f2c94c, #f2994a);
}

.cta {
  @apply font-semibold px-10 py-3 rounded-md;
}

.cta:hover {
  @apply shadow-md;
}
